:root{
    --primario: #900C3F;
    --secundario: #ffffff;
    --tercerio: #ccd1d1;    

}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
   font-family: 'Roboto', sans-serif;
   font-size: 2.4rem;
   font-weight: 400;
   background-color: var(--tercerio);
}
/* Container */
.container{
    max-width: 80%;
    margin: 0 auto;
    background-color: var(--secundario);  
}
/* Header */
.header{
    display: flex;
    background-color: var(--primario);
    justify-content: center;   
}
.header__title{
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
    padding: 2rem;
}
.header__logo{
    width: 10rem;
    height: 10rem;
}
.header__nav{   
    width: 40%;
}
.header__nav-ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 3rem;
    margin: 0;    
}
.header__nav-a{
    text-decoration: none;
    color: var(--secundario);
    font-size: 2.5rem;
    font-weight: 700;
}
.header__nav-a:hover{
    color: var(--tercerio);
}
/* utility */
.line{
    max-width: fit-content;
    border-bottom: #900C3F solid 4px; 
    box-shadow: var(--tercerio) 0px 6px 0px;
    padding-bottom: 2px;
}

/* body */
.main{  
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;     
    padding: 2rem;
    justify-items: center;
}
.main__title{
    grid-column: 1/3;
    grid-row: 1;    
}
.main__images{
    grid-column: 1;
    grid-row: 2;
    max-width: 90%;
    margin: auto;
}
.main__text-container{
    grid-column: 2;
    grid-row: 2;    
}
.main__text{
    text-align: justify;
}
/* section */
.section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
    padding: 2rem;    
}
.section__title{
    grid-column: 1/3;
    grid-row: 1;  
}
.section__images{
    grid-column: 1;
    grid-row: 2;
    max-width: 90%;
    margin: auto;
}
/* footer */ 
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primario);
    height: 10rem;    
}
/* System */
.section-syst{
    padding: 2rem;
}
.section__title-syst{
    
}
.section__subtitle{

}
.section__text{
    text-align: justify;
}

.section-container{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    grid-template-rows: auto;
    justify-items: center;  
    gap: 1rem;
}
.section__text-container{
    grid-column: 1 /2;
}
.section__img{
    grid-column: 2/3;    
    max-width: 90%;   
}
.section__text-container-rigth{
    grid-column: 2 /3;
    grid-row: 1;
}
.section__img-left{
    grid-column: 1/2; 
    grid-row: 1;
    max-width: 90%;   
}
/* Riesgo */
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;  
    padding: 2rem;  
}
.main__table{  
    margin: 8rem 0;
   width: 90%;
   border: solid 2px var(--primario);
}
.caption__title{
    margin: 0;
}
.tr__enc{
    text-align: left; 
    padding: 3px;   
    border: solid 1px var(--primario);
}
.tr__encB{
    text-align: center;
    padding: 3px;
    background-color: blue;
    border: solid blue 1px;
    color: var(--secundario);
}
.tr__encR{
    text-align: center;
    padding: 3px;
    background-color: red;
    border: solid red 1px;
    color: var(--secundario); 
}
.tr__encY{
    text-align: center;
    padding: 3px;
    background-color: yellow;
    border: solid yellow 1px;
    color: black;
}
.tr__data{
    text-align: left;
    padding: 3px;
    border: solid 1px var(--primario);
}
.tr__dataB{
    text-align: center;
    padding: 3px;
    background-color: blue;
    border: solid blue 1px;
    color: var(--secundario);
}
.tr__dataR{
    text-align: center;
    padding: 3px;
    background-color: red;
    border: solid red 1px;
    color: var(--secundario); 
}
.tr__dataY{
    text-align: center;
    padding: 3px;
    background-color: yellow;
    border: solid yellow 1px;
    color: black;
}
@media(max-width: 1440px){
    
}      
@media (max-width: 900px){
    .header__nav-ul{
        flex-direction: column;
        padding: 0;
    }
    .header__nav-a{
        padding: 1rem;
    }
    .main{
        display: flex;
        flex-direction: column;
    }  
    .main{
       padding-bottom: 0;
    }
    .section{
        display: flex;
        flex-direction: column;
    }
    /* sistem */
    .section-container{
        display: flex;
        flex-direction: column;
    }
    .section__subtitle,
    .section__text{
        margin: 1rem;
    }
    /* rieso */
    .grid{
        grid-template-columns: 1fr;        
    }   
    .main__table{
        margin: 2rem 0;
    }
    .section__img-riesgo{
        max-width: 90%;  
      
    }
}

@media(max-width: 600px){
    .main{
        padding-bottom: 0;
     }
     .main__title,
     .main__text,
     .section__title,
     .section__text
     {
            font-size: medium;
     }
    /* system */
    .section-container{
        display: flex;
        flex-direction: column;
    }
    .section__title-syst,
    .section__subtitle,
    .section__text,
    .section__text,
    .section__item{
        font-size: medium;
    }
    /* reiso */
    .container{
        padding: 1rem;
    }   
    .section__title-riesgo,
    .caption__title,
    .tr__enc,
    .tr__data{
        font-size: medium;        
    }

   
    
}